//variables
$alertPrimary: #ccf2ff;
$alertSecondary: #E2E3E3;
$alertWarning: #ffff99;
$alertError: #ffb3b3;
$alertSuccess: #d6f5d6;

.open,
.modal-btn {
  border: none;
  background: #47a386;
  padding: 15px;
  color: white;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
}

.modal {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 50px;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

}

.modal h1{
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 1px;
}

.modal h1 {
  text-align: center;
  color :  rgb(78, 78, 78);
}


.input-otp input::placeholder {
  color:#aaa;
  font-weight: 500;
}

.input-otp {
  min-width: 170px;
  max-width: 170px;
  height: 45px;
  background-color:#f0f0f0;
  margin: 10px 0;
  border-radius: 5px;
  display:grid;
  grid-template-columns: 100%;
  // padding:0 .4rem;
  
}

.input-otp input {
  margin-left: 20px;
  margin-right: 20px;
  background: none;
  outline: none;
  border:none;
  font-weight: 600;
  letter-spacing: 0.25em;
  font-size: 1.5rem;
  color: #333;
}

.input-otp input::placeholder {
  color:#aaa;
  font-weight: 500;
}

.otp-btn {
  width:170px;
  height: 45px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius:49px;
  background-color:#10d1eb;
  color:#fff;
  text-transform: uppercase;
  font-weight: 600;
  margin:3px 0;
  transition: .5s;
  font-size: 1rem;
}

.otp-btn:hover {
  background-color:#a9eb10;
}

.otp-email{

}